<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/style.css">
		</head>
		<body>
			<img src="/img/home_img.jpeg" style="height:200px;" align='right'/>
			<h1>Dandan LIN</h1>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
	        		<li><a href="/publications">Publications</a></li>
	        		<li><a href="/album">Album</a></li>
				<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<a>No pains, no gains.</a>
			</footer>
		</body>
	</html>
